/* Zoom style */
/* Style the zoom control container */
.ol-zoom {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .7rem;
    padding-block: .5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: larger;
    color: #000000;
  }
  
  /* Style for zoom (+) button */
  .ol-zoom-in {
    padding-inline: 1rem;
    border-right: 1px solid rgb(107, 107, 107);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  /* Style for zoom (-) button */
  .ol-zoom-out {
    padding-inline: 1rem;
    border-left: 1px solid rgb(112, 111, 111);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

/* Hover effect for zoom buttons*/
.ol-zoom-in:hover{
  color: rgb(32, 180, 32);
}
.ol-zoom-out:hover{
  color: rgb(225, 23, 23);
}

/* Style the zoom control on focus */
.ol-zoom-in:focus, .ol-zoom-out:focus {
  outline: none;
}

/* Scale style */
/* Style the Scale Line control container */
.ol-scale-line {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 19px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
  
/* Style the inner scale line bar */
.ol-scale-line-inner {
    background-color: #3e3e3e;
    height: 3px;
    border-radius: 2px;
}
  
/* Style the scale text */
.ol-scale-line-text {
    margin-left: 10px;
    color: #333;
    font-weight: bold;
}
  

.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  }
  
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }